* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* top banner */

.top-banner-container {
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 500px;
    background: #161616;
    border-radius: 30px;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position-x: 85%;
    margin-top: 50px;
    margin-left: 85px;
    background-size: 450px 500px;
}

.top-banner {
    width: 500px;
    height: 500px;
    padding-top: 45px;
    padding-left: 80px;
}

.top-banner-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #FFFFFF;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.watch-button {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 14px 30px;
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
}

.fa-greater-than {
    padding-left: 10px;
}

nav {
    width: 280px;
    height: 280px;
    background-color: #161616;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 85px;
}

ul {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    list-style: none;
}

.upcoming-match {
    width: 220px;
    height: 54px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.upcoming-match>a {
    padding-top: 60px;
    padding-left: 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
}

.all-group {
    width: 220px;
    height: 54px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.all-group>a {
    padding-top: 60px;
    padding-left: 70px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
}

.blog {
    width: 220px;
    height: 54px;
    background-color: #DD0000;
    border-radius: 8px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.blog>a {
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 90px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}